.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.form{
    display: flex;
    justify-content: space-around;
    padding: 8px;
}

.form input{
    border-radius: 50px;
}

.content button{
    border-radius: 50px;
}