body{
    margin: 0;
}

.logo{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.btns{
    display: flex;
    justify-content: space-around;
}

.register button{
    height: 30px;
    border-radius: 50px;
}
.login button{
    height: 30px;
    border-radius: 50px;
}